/* default font size */
body {
  font-size: 14px;
}

/* scrolling nav bar style */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

/* element dimensions*/
section {
  margin: 0 auto;
  width: 60%;
}

/* scrolling text size */
h1 {
  font-family:sans-serif;
  font-size: 2em;
}

/* scrolling text style */
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

/* main text size */
h3 {
  font-size: 1.3em;
}

/* style for the text */
.element, div{
  background-color: green;
  height: 100px;
  margin: auto: 10px 0;
  width: 100%;
}

/* Change background color of last three text boxes*/
.element.color, div{
  background-color: hotpink;
}
